@model IEnumerable<MyCityProject.Models.Booking>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список броней (Booking)</h2>

<p>
    <a asp-action="Create">Добавить новую</a>
</p>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Дата</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Date.ToString("dd.MM.yyyy")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
